<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>rhsev.MilanOpener</string>
	<key>CFBundleName</key>
	<string>MilanOpener</string>
	<key>CFBundleDisplayName</key>
	<string>Milan Opener</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>MilanOpener</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Milan URL Scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>milan</string>
				<string>ref</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
